@font-face{
    font-family: Faster;
    src: url(../../fonts/FasterOne/FasterOne-Regular.ttf)
}

@font-face {
    font-family: Emblema;
    src: url(../../fonts/EmblemaOne/EmblemaOne-Regular.ttf);
}

.main{
    color: white;
    background-color: #6D28D9;
}

.title{
    font-size: 3rem;
    line-height: 3rem;
    font-family: Faster;
}

.titleTop{
    font-size: 1rem;
    font-family: Emblema;
    font-weight: bold;
}

.titleTextDiv{
    margin-top: 20rem;
    margin-left: 9.5rem;
}

@media (max-width: 550px) {
    .titleTextDiv{
        margin-left: 6.3rem;
        margin-top: 13.3rem;
    }

    .title{
        font-size: 2rem;
        line-height: 2rem;
    }

    .titleTop{
        font-size: 0.67rem;
    }
}

@media (max-width: 400px) {
    .titleTextDiv{
        margin-left: 4.2rem;
        margin-top: 8.86rem;
    }

    .title{
        font-size: 1.33rem;
        line-height: 1.33rem;
    }

    .titleTop{
        font-size: 0.44rem;
    }
}